---
name: Tailscale with Funnel
version: 0.7.0.10
slug: tailscale
description: Zero config VPN for building secure networks
url: https://github.com/lmagyar/homeassistant-addon-tailscale-funnel
codenotary: lmagyar1973@gmail.com
ingress: true
ingress_port: 0
ingress_stream: true
startup: services
panel_icon: mdi:vpn
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
init: false
hassio_api: true
privileged:
  - NET_ADMIN
devices:
  - /dev/net/tun
host_network: true
schema:
  tags: ["match(^tag:[a-zA-Z0-9]-?[a-zA-Z0-9]+$)?"]
  log_level: list(trace|debug|info|warning|error|fatal)?
image: ghcr.io/lmagyar/{arch}-addon-tailscale-funnel
